/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: absolute; /* absolute, fixed would make it placed fixed */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.container {
  display: flex;
  font-family: "Lato", sans-serif;
  color: black;
}

/* NAV BAR/MENU BUTTON STYLES */

.navigation-wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
}

.left-side {
  display: flex;
}

.navigation-wrap>.left-side>div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.navigation-link-wrap {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.navigation-link-wrap a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.navigation-link-wrap:hover {
  border-bottom: 1px solid black;
}

.navigation-link-wrap a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  background-color: rgb(218, 219, 219);
}

#box {
  transition: margin-left .5s;
}

#map {
  transition: margin-left .5s;
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}