/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: absolute; /* absolute, fixed would make it placed fixed */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  font-family: Courier New, monospace;
  cursor: pointer;
  /*padding-bottom: 5px;*/
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  text-align: left;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .sidenav-header {
  font-family: Courier, monospace;
  cursor: default;
  padding: 30px 8px 8px 20px;
  text-decoration: underline;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  cursor: pointer;
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.container {
  font-family: "Lato", sans-serif;
  color: black;
}

/* NAV BAR/MENU BUTTON STYLES */

.navigation-wrap {
  font-weight: bold;
  font-size:20px;
  display: absolute;
}

.left-side {
  display:flex;
}

.nav-bar-title {
  position: absolute;
  margin-left: 48%;
  font-size: 36px;
  height: 22px;
  font-family: Brush Script MT, cursive;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  text-emphasis: outline;
  color: rgb(16, 20, 73);
  font-weight:bold;
  z-index: 1;
}

.navigation-wrap>.left-side>div {
  margin-right: 20px;
  font-size: 1em;
  display: flex;
  text-transform: none;
  z-index: 1;
}

.navigation-link-wrap {
  position: absolute;
  margin-left: 0%;
  font-size: 36px;
  height: 22px;
  font-family: Brush Script MT, cursive;
  align-items: left;
  justify-content: left;
  padding-top: 5px;
  text-emphasis: outline;
  color: rgb(16, 20, 73);
  font-weight:bold;
  z-index: 1;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  transition: 0.5s;
}

.active-nav-demo {
  font-family: 'Montserrat', sans-serif;  
}

.navigation-link-wrap:hover {
  border-bottom: 1px solid black;
}

.navigation-link-wrap a:hover {
  color: black;
}

.active-nav-link {
  cursor: pointer;
}

.active-nav-link a:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
  color: black !important;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  height:6%;
  transition: margin-left .5s;
  background-image: linear-gradient(white, rgb(214, 236, 243));
  background-color: white/*rgb(218, 219, 219)*/;
  border-bottom: 3px solid black;
}

#box {
  transition: margin-left .5s;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.description{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 10;  
  background-color: white;
  width: 525px;
  max-width: 70%;
  text-align: center;
}
.description.active{
  transform: translate(-50%, -50%) scale(0);
   
}
.description-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.description-header .title{
  font-size: 1.25rem;
  font-weight: bold;
  padding-left: 100px;
  
}
.description-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;

}
.description-body{
  padding: 10px 15px;
}
#overlay{
  position: fixed;
  opacity: 1;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
}
#overlay.active{
  opacity: 0;
  pointer-events: all;
  
}