<!--<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
  <title>Delish Food Map</title>
  <style>
    #map{
      height:100vh; 
      width:100%;
    }
  </style>
</head>
<body>
  <div id="map"></div>
  <script>
    function initMap(){

      //SC coords
      var sc = new google.maps.LatLng(36.9723111, -122.0383785, 14);

      // shwo popup when click on marker
      var infowindow = new google.maps.InfoWindow();
      // Map options
      const options = {
        zoom: 14,
        center: {lat: 36.988407, lng: -122.058281}
      }
      // New map
      const map = new google.maps.Map(document.getElementById('map'), options);

      
      //text request search
  var request = {
    location: sc,
    radius: "5",
    query: "Taqueria",
  };

  //hit the gmaps places API and do a text search
  var service = new google.maps.places.PlacesService(map);
  service.textSearch(request, callback);


  //parse returned info from places
  function callback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        var place = results[i];
        createMarker(results[i]);
      }
    }
  }

  //create marker with icon and attributes
  function createMarker(place) {
    console.log(place)
    const image = {
      url: place.icon,
      size: new google.maps.Size(71, 71),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(17, 34),
      scaledSize: new google.maps.Size(25, 25),
    };

    const marker = new google.maps.Marker({
      map,
      icon: image,
      title: place.name,
      position: place.geometry.location,
    });

    google.maps.event.addListener(marker, "click", () => {
      infowindow.setContent(place.name);
      infowindow.open(map);
    });
  }

  var mapStyle = [ // sets up getting rid of equator and international date line
    {
      featureType: "administrative",
      elementType: "geometry",
      stylers: [
        { visibility: "off" }
      ]
    }
  ];
  
  var styledMap = new google.maps.StyledMapType(mapStyle);
  map.mapTypes.set('myCustomMap', styledMap);
  map.setMapTypeId('myCustomMap');

  infoWindow = new google.maps.InfoWindow();
  const locationButton = document.createElement("button");
  locationButton.textContent = "Pan to Current Location";
  locationButton.classList.add("custom-map-control-button");
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
  locationButton.addEventListener("click", () => {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          infoWindow.setPosition(pos);
          infoWindow.setContent("Location found.");
          infoWindow.open(map);
          map.setCenter(pos);
        },
        () => {
          handleLocationError(true, infoWindow, map.getCenter());
        }
      );
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  });
    }
  </script>
  <script>
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(
    browserHasGeolocation
      ? "Error: The Geolocation service failed. Please enable your location."
      : "Error: Your browser doesn't support geolocation."
  );

  infoWindow.open(map);
}
  </script>
    <script 
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHJ1oiP4a4X4_X9wbc13kTg9LjIs0cBfg&libraries=places&callback=initMap">
    </script>
  </body>
</html> -->

<html>
<head>
    <title>Upvote</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <script type="text/javascript">
    var count = 0;
    var zoom = 1;
    var zoomStep = 0.2;
    function upVote() {
        count += 1;
        document.getElementById("count").innerHTML = count;
        zoom += zoomStep;
        document.getElementById("zoomicon").style.transform = "scale(" + zoom + ")";
    };
    function downVote() {
        count -= 1;
        document.getElementById("count").innerHTML = count;
        if (zoom > zoomStep) {
          zoom -= zoomStep;
          document.getElementById("zoomicon").style.transform = "scale(" + zoom + ")";
      }
    }
    </script>
    <div>
    <button type="button" onClick="upVote()">Up-vote</button>
    <div></div>
    <br>
    <section id="zoomicon">
      <div>Count: <a id="count">0</a> <i class="fa fa-cloud"></i> </div>
    </section>
    <br>
    <button type="button" onClick="downVote()">Down-Vote</button>

    </div>
</body></html> 

